/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}



.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 16px auto;
}

.gallery-item {
  width: 100%;
  height: 200px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
    height: 200px;
  }

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .gallery-item {
    width: calc((100% - 48px) / 3);
    height: 200px;
  }
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}