/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}



.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 16px auto;
}

.gallery-item {
  width: 100%;
  height: 200px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
    height: 200px;
  }

}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .gallery-item {
    width: calc((100% - 48px) / 3);
    height: 200px;
  }
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  background-color: #fff;
  margin: auto;
  padding: 24px;
  border-radius: 8px;
  min-width: 296px;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.form-label-input {
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  letter-spacing: 0.04em; 
}

.form-btn {
  margin-top: 8px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;

}

.form-btn:hover {
  background: #6c8cff;
}

